<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>[Socials] {{ full_name }}</title>   
    <link rel="stylesheet" href="./styles.css" />

    {% if enable_birds %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.birds.min.js"></script>
    {% endif %}

    <script src="main.js"></script>
    </head>
  <body>
    {% if enable_birds %}
    <div id="vanta"></div>
    {% endif %}
    <main>
      <header>
        <img src="assets/{{ profile_picture }}" alt="{{ full_name }}"/>
        <h1>{{ full_name }}</h1>
      </header>
      <ul>
        {% for link in links %}
          <li>
            <a href="{{ link.url }}">
              <img src="./assets/{{ link.icon }}" alt="{{ link.label }}" width="20">
              {{ link.label }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
